.search{
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0;
}
.search__input{
    display: block;
    padding: 1em 1em 1em 3em;
    width: 100%;
    max-width: calc(100% - 4em);
    border: 0;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 34px 1px rgba(140,155,255,0.45);
    -moz-box-shadow: 0px 0px 34px 1px rgba(140,155,255,0.45);
    box-shadow: 0px 0px 34px 1px rgba(140,155,255,0.45);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M11 2c4.968 0 9 4.032 9 9s-4.032 9-9 9-9-4.032-9-9 4.032-9 9-9zm0 16c3.867 0 7-3.133 7-7 0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7zm8.485.071l2.829 2.828-1.415 1.415-2.828-2.829 1.414-1.414z" fill="rgba(112,148,247,1)"/></svg>');
    background-repeat: no-repeat;
    background-position: .5em center;
    color: #939393;
    font-size: 1.3em;
}
.search__input:focus,
.search__input:active{
    outline: 0;
}